
.DS_Store
xs/
sqlite3/
/packages
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.cache
*.props
*.ide-wal
*.ide-shm
.vs/Cauldron/xs/sqlite3/storage.ide
.vs/Cauldron/xs/sqlite3/storage.ide-shm
.vs/Cauldron/xs/sqlite3/storage.ide-wal
